@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary_color: #FE9A00;
}


.set_section {
  padding: 20px 20px;
  margin: auto;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */